/* 
#back2 img {
    width:10em;
    height:10em;
} */

/* #back2 #itemCard {
    animation: item-move 10s infinite;
} */

/* 
body {
    background: linear-gradient(-45deg, rgba(0, 37, 87, 0.25), rgba(0, 55, 128,0.25), rgba(0, 81, 189,0.25),rgba(0, 110, 255,0.25));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
} */

#fithub {
    letter-spacing: 1px;
    font-weight: bolder;
}

#button {
    width: 16em;
    min-height: 3em;
    max-width: 70vw;
    margin: 1em;
    font-size: 20px;
    box-shadow: 5px 5px 15px black;
    -webkit-transition: all 0.5s ease;
}

#button:hover{
    /* color: black; */
    box-shadow: none;
    letter-spacing: 0.1em;
}

#dashboard {
    box-shadow: 5px 5px 15px white;
    background-color: rgb(224, 237, 255);
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

#line {
    background-color: rgb(0, 37, 87);
    border-radius: 10px;
    height: 0.5em;
    margin: 0.5em;
}

#description{
    text-align: justify;
    
    font-size: 20px;
}

#back1 {
    /* min-height: 10vh;  */
    /* width:100vw; */
    /* background-color: rgba(0,255,0,0.5); */
}

.outfit1 {
    /* overflow: hidden; */
}

.outfit2 {
    
    overflow: hidden;
    /* background-color: red; */
    animation: item-move 2s infinite;
}

#back2 {
    font-size: 20px;
    justify-content:space-between;
    max-width: 100vw;
    overflow: hidden;
}

#img_icon {
    /* background-color: blue; */
    border-radius: 10px;
    box-shadow: 10px;
    min-width: 10em;
    width: 10vw;
    margin: 10px;
    box-shadow: 5px 5px 10px black;
    border: 25px solid black;
    -webkit-transition: all 0.5s ease;
}

#img_icon:hover {
    width: 17vw;
    /* -webkit-transition: all 0.5s ease; */
}

@keyframes item-move {
    0% {transform: translateX(0)}
    35% {transform: translateX(100vw)}
    50% {transform: translateX(100vw)}
    /* 25% {} */
    65% {transform: translateX(100vw)}
    /* 75% {} */
    100% {transform: translateX(0)}
}